{% extends 'layout.twig' %}

{% block content %}

<div class="home">

  <div class="row utilidades">
    <h2 class="style-h1">Serviços</h2>
    <div class="row">
      {% for s in site.acf.default_servicos %}
      <div class="three columns item">
        <h3 class="row"> {{s.titulo}} </h3>
        <div class="row content">
          <figure class="row">
            <a href="{{s.link}}" title="{{s.titulo}}">
              <img src="{{s.imagem}}" alt="{{s.titulo}}" title="{{s.titulo}}" class="u-max-full-width">
            </a>
          </figure>
          <div class="row seemore">
            <a href="{{s.link}}" title="Confira mais sobre {{s.titulo}}">Confira</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</div> {# end home #}
</div> {# close container #}

<div class="fullblock home servicos">
  
  <div class="row">
    <div class="container">
      <div class="one-half columns"> <h2 class="style-h1 especialidades">Especialidades</h2> </div>
      <div class="one-half columns"> <h2 class="style-h1 exames">Exames</h2> </div>
    </div>
  </div>

  <div class="row green">
    <div class="container">
      <div class="one-half columns especialidades">
        <div class="row">
          {% for e in fn('get_field', 'especialidades', 50)|slice(0, 12) %}
            {% if loop.first or loop.index0 == 6 %} <div class="one-half columns"> {% endif %}
              {% set e = e.especialidade|split(':') %}
          
              <div class="row">
                <h3>{{e.0}}</h3>
                <div class="text">{{e.1}}</div>
              </div>
          
            {% if loop.last or (loop.index0 + 1) == 6 %} </div> <!--end--> {% endif %}
          {% endfor %}
        </div>
        <div class="row seemore">
          Confira a lista completa de <em>especialidades</em> <a href="{{fn('get_permalink', 50)}}">aqui</a>.
        </div>
      </div>
      <div class="one-half columns exames">
        <div class="row">
          {% for e in fn('get_field', 'exames', 51)|slice(0, 24) %}
            {% if loop.first or loop.index0 == 12 %} <div class="one-half columns"> {% endif %}
          
            <h3 class="row"> {{e.exame}} </h3>
          
            {% if loop.last or (loop.index0 + 1) == 12 %} </div> {% endif %}
          {% endfor %}
        </div>
        <div class="row seemore">
          Confira a lista completa de <em>exames</em> <a href="{{fn('get_permalink', 51)}}">aqui</a>.
        </div>
      </div>
    </div>
  </div>

</div>
{# end fullblock #}

<div class="container">
  <div class="home">

    <div class="row instituto">
      <h2 class="row style-h1 doctor">O Instituto MED PREV</h2>
      <div class="row content">
        <div class="row text"> <div class="four columns"> {{fn('get_field', 'resumo_inicio', 49)}} </div> </div>
        <div class="row seemore"> <div class="four columns"> <a href="{{fn('get_permalink', 49)}}">Confira</a> </div> </div>
      </div>
    </div>

  </div>


{% endblock %}
