{% extends 'views/index.twig' %}

{% block content %}
<div class="page-search">

  {% if posts %}

    <div class="row"> <div class="twelve columns"> <h1>Resultado da busca por: {{ fn('get_search_query') }}</h1> </div> </div>

    {% for post in posts %}

      <article class="row">
        <div class="twelve columns">
          <h2>
            <a href="{{ post.link }}" title="{{ post.post_title }}">{{ post.post_title }}</a>
          </h2>
        </div>
        <div class="twelve columns"> {{ post.get_preview(50, false, "<br> Leia mais...") }} </div>
      </article>

    {% endfor %}

    <div class="row"> <div class="twelve columns pagination"> {{ fn('taraven_pagination') }} </div> </div>

  {% else %}

    <div class="row"> <div class="twelve columns"> <h1>Não foi encontrado nada =/</h1> </div> </div>
    <div class="row"> <div class="twelve columns"> Tente fazer a busca com uma nova palavra, para ver o resultado ! </div> </div>

  {% endif %}

</div>

{% endblock %}
