<div class="servicos">
  <div class="row"><strong>BUSQUE PELA INICIAL DA ESPECIALIDADE:</strong></div>
  
  <ul class="row busca">
    {% for lt in 'a'..'z' %}
      <li><a href="#{{ lt|upper }}">{{ lt }}</a></li>
    {% endfor %}
  </ul>
  
  <div class="row itens">
    {% for key, letra in especialidades %}
      <div class="row letra" id="{{key}}"><span>{{key}}</span></div>
      <div class="row itens">
        {% for e in letra %}
          {% if loop.first or (loop.index0 % 4) == 0 %} <div class="row"> {% endif %}
            <div class="three columns item">
              <h2 class="row">{{e.nome}}</h2>
              <div class="row descricao">{{e.descricao}}</div>
            </div>
          {% if loop.last or ((loop.index0 + 1) % 4) == 0 %} </div> {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>